* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */

}

a {
  color: unset;
  text-decoration: unset;
}

p {
  line-height: 1.8;
}

:root {
  --dark-bg-1: #252b4b;
  --light-bg: #f7f7f7;
  --primary: #592a30;
  --light-text-1: #fafbfc;
  --light-text-2: #8f8c8c;
  --dark-text-1: #1a1a1a;
  --dark-text-2: #4e4b66;
  --dark-text-3: #272727;
  --subtitle: #707070;
  --primary-bg: #524B46;
}

span,
a,
b,
p,
h1,
h2,
h3 {
  font-family: "karla", sans-serif;
}

ul {
  list-style-type: none;
  padding: unset;
}


body,
body nav,
body,
section,
#footer {
  width: 100%;
}


.wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  max-width: 1300px;
  margin: 0 auto;
}

#navbar .wrapper {
  padding: 0;
}

#footer {
  background: #524B46;
  color: #fff;
}

#footer .copyright-wrapper {
  background: #FBF4EC;
}

#footer .copyright-wrapper .wrapper {
  justify-content: space-between;
  margin: 0 auto;
  width:100%;
  color: black;
}

#footer .copyright {
  color: var(--dark-text-3);
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: auto;
  white-space: nowrap;
}

.footer-cols {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 48px 0px 64px 0px;
  margin: 0 auto;
  max-width: 1300px;
}

.footer-cols-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-cols-left {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.footer-cols-left p {
  font-family: 'Merriweather';
  font-weight: 400;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-col h3 {
  font-size: 32px;
}

.footer-col ul li {
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.footer-col ul li:hover {
  color: #F8A9A9;
  transition: all 0.3s ease-in-out;
}

.footer-col ul li svg {
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}

.footer-col ul li svg:hover {
  transition: all 0.3s ease-in-out;
  color: lightgray;
}

.footer-cols-left img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.light-button {
  background-color: #FBF4EC;
  padding: 10px;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 0;
  text-decoration: none;
  width: fit-content;
}

.light-button:hover {
  background-color: #F8A9A9;
  transition: all 0.3s ease-in-out;
}

.dark-button {
  background-color: #524B46;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0;
  text-decoration: none;
  white-space: nowrap;
}

.dark-button:hover {
  background-color: #F8A9A9;
  transition: all 0.3s ease-in-out;
}

header {
  position: sticky;
  top: 0;
  background-color: #FBF4EC;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#navbar .wrapper {
  flex-direction: row;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul li a {
  position: relative;
  display: inline-block;
  padding: 0rem 1rem;
  font-family: 'Karla';
  text-decoration: none;
  color: #62605D;
  transition: 0.3s;
}

#navbar ul li a:hover {
  color: black;
  transition: 0.3s;
}

#navbar ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #524B46;
  top: 100%;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#navbar ul li a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

#navbar .dark-button {
  margin-left: 20px;
}

#navbar img{
  max-width: 250px;
  height: auto;
}

#navbar .desktop-nav{
  display:none;
}

#navbar .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

#navbar .hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #524B46;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

/* Hero Items */
#hero {
  background-image: url('../assets/images/background-1.jpeg');

}

#hero .wrapper {
  gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--dark-text);
}

.hero-text,
.hero-image {
  flex: 1;
}

.hero-text h1 {
  font-size: 64px;
  font-weight: 700;
}

.hero-buttons {
  width: 100%;
  display: flex;
  gap: 20px;
}


.hero-image img {
  width: 100%;
  height: 100%;
}

#about {
  background: #524B46;
}

#about .wrapper {
  color: #fff;
  gap: 20px;
}

.about-text,
.about-images {
  flex: 1;
}

#about .about-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#about .about-images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}

#about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#popular-items-wrapper {
  background-image: url('../assets/images/background-1.jpeg');
  padding: 48px 0px 64px 0px;
}

#popular-items-wrapper .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popular-items-top,
.gallery-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-items-top p,
.gallery-top p {
  color: #272727;
  font-family: 'Merriweather';
}

.popular-items a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0));
  z-index: 1;
}

.popular-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
}

.popular-items a {
  aspect-ratio: 1;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.popular-items a:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.popular-items a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.popular-items a p {
  position: absolute;
  bottom: 0;
  margin: 10px 15px;
  color: #fff;
  z-index: 2;
}

#testimonials,
.main-footer {
  background: #524B46;
  /* padding: 48px 0px 64px 0px; */
}

#testimonials .wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.grid {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.testimonial {
  border-radius: 4px;
  padding: 16px;
  background: #FBF4EC;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  gap: 40px;
}

.player:nth-child(3):last-child {
  grid-column: span 2;
}

.player:nth-child(4) {
  grid-column: 2;
}

.testimonials-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonials-text div {
  display: flex;
  gap: 20px;
}

.testimonial-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.testimonial-bottom a {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.testimonial-bottom a:hover {
  color: #F8A9A9;
  transition: all 0.3s ease-in-out;
}

#gallery-wrapper,
.contact-wrapper {
  background-image: url('../assets/images/background-1.jpeg');
  /* padding: 48px 0px 64px 0px; */
}

#gallery-wrapper .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#gallery-wrapper .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}

#gallery-wrapper .grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  display: block;
}


.row-span-2 {
  grid-row: span 2;
}

.contact-box {
  margin-top: 2rem;
  background: var(--primary-bg);
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.contact-text {
  padding: 0px 64px;
  flex: 1.3;
  height: 100%;
  align-self: center;
}

.contact-map {
  flex: 2;
}

.contact-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socials {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  white-space: nowrap;
}

.socials a {
  display: flex;
  width: 100%;
  align-items: center;
}

.socials a svg {
  background: #fff;
  color: red;
  height: 48px;
  width: auto;
  color: var(--primary-bg);
  border-radius: 8px;
  padding: 12px;
  margin-right: 10px;
}

.social-button {
  transition: all 0.3s ease-in-out;
}

.social-button:hover {
  color: #F8A9A9;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
  #navbar .mobile-nav{
    display: none;
  }
  #navbar .desktop-nav{
    display: flex;
  }
  .wrapper {
    flex-direction: row;
  }

  .popular-items {
    grid-template-columns: repeat(4, 1fr);
  }


  #footer .copyright-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  #footer .copyright {
    margin: 0 auto;
    max-width: 1300px;
    flex-direction: row;
    justify-content: space-between;
  }

  #testimonials .wrapper {
    flex-direction: column;
  }

  #testimonials .wrapper,
  .contact-box {
    flex-direction: row;
  }

  .footer-cols {
    display: flex;
    gap: 8rem;
    padding: 48px 0px 64px 0px;
    margin: 0 auto;
    max-width: 1300px;
    justify-content: space-between;
  }

  .footer-cols-left {
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
